<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tacademy.sadajo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sadajo">
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".splash.SplashActivity" />
        <activity android:name=".search.searchlist.SearchListActivity"
            android:windowSoftInputMode="adjustNothing"
            /> <!-- 에딧텍스트에서 키보드 올라오면 탭바는 같이 올라오지 않도록 SoftInputMode 적용함. style.xml에서도 가능함.-->
        <activity android:name=".shoppinglist.ShoppingListActivity" />
        <activity android:name=".chatting.ChattingActivity" />
        <activity android:name=".mypage.MyPageActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".search.searchdetail.SearchDetail" />
        <activity android:name=".chatting.ChattingRoom" />
        <activity android:name=".mypage.MypageBuyActivity" />

    </application>

</manifest>