<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tacademy.sadajo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".SadajoContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Sadajo"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity
            android:name=".search.searchlist.SearchListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" /> <!-- 에딧텍스트에서 키보드 올라오면 탭바는 같이 올라오지 않도록 SoftInputMode 적용함. style.xml에서도 가능함. -->
        <activity
            android:name=".shoppinglist.ShoppingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chatting.ChattingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypage.MyPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".search.searchdetail.SearchDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chatting.ChattingDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mypage.MypageBuyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".shoppinglist.LikeListDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypage.MyPageOtherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shoppinglist.OtherShoppingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.tacademy.sadajo.SadajoGlideModule"
            android:value="GlideModule" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1206308966129089"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        //FCM 토큰을 발급하는 서비스
        <service
            android:name=".SadajoFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        //FCM 푸쉬메세지를 받는 서비스
        <service
            android:name=".FCMPushMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".shoppinglist.ShoppingListDetailActivity" />
        <activity android:name=".dialog.NewMessageAlertActivity"
            android:theme="@style/CustomDialog"/>



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>